# Python bytecode
__pycache__/
*.pyc

# Virtual environment
/.venv
/venv
/env

# Distribution / packaging
/dist/
/build/
*.egg-info/

# Environment variables
.env

# OS and Editor specific
.DS_Store
.idea/
.vscode/

# Coverage reports
.coverage