.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    backdrop-filter: blur(5px);
}

.header h1 {
    margin: 0;
}

.controls {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    backdrop-filter: blur(5px);
}

.controls input[type="file"] {
    margin-right: 10px;
}

.message {
    margin-top: 10px;
    font-weight: bold;
}

.photoUpload {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    backdrop-filter: blur(5px);
    overflow-y: auto;
}