.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
}

.mainContent {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100vh;
    box-sizing: border-box;
}

.header {
    position: relative;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    backdrop-filter: blur(5px);
    flex-shrink: 0; /* Prevent header from shrinking */
    pointer-events: auto;
}

.header h1 {
    margin: 0;
}