.authLayoutContainer {
    pointer-events: auto;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    pointer-events: auto;
}