.mapLayout {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.mapContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.mapOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: default;
}

.content {
    position: relative;
    z-index: 2; /* Content on top of everything */
    height: 100%;
    pointer-events: none; /* Clicks pass through the content div */
}

.content > * {
    pointer-events: auto; /* But direct children of content (the page components) receive clicks */
}
