.formContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 300px;
    margin: auto;
}

.formGroup {
    display: flex;
    flex-direction: column;
}

.errorMessage {
    color: red;
}

.btnPrimary {
    padding: 0.5rem;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.btnPrimary:disabled {
    background-color: #ccc;
}

.divider {
    text-align: center;
    border-bottom: 1px solid #ccc;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.divider span {
    background: #fff;
    padding: 0 10px;
}

.btnGoogle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0.5rem;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}

.btnGoogle img {
    width: 20px;
    height: 20px;
}
