.sidebar {
  position: relative;
  background-color: #f0f0f0;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  pointer-events: auto;
}

.right {
  order: 1;
}

.content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

.resizer {
  position: absolute;
  top: 0;
  width: 4px;
  height: 100%;
  cursor: col-resize;
  background-color: #ddd;
  z-index: 10;
}

.resizer:not(.resizerRight) {
  right: -2px;
}

.resizer.resizerRight {
  left: -2px;
}

.resizer:hover {
  background-color: #ccc;
}