.sidebar {
  position: relative;
  background-color: var(--bg-card);
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  pointer-events: auto;
  border-right: 1px solid var(--border-subtle);
}

.sidebar.right {
    border-right: none;
    border-left: 1px solid var(--border-subtle);
}

.right {
  order: 1;
}

.content {
  flex-grow: 1;
  padding: 24px;
  overflow-y: auto;
}

.resizer {
  position: absolute;
  top: 0;
  width: 4px;
  height: 100%;
  cursor: col-resize;
  background-color: transparent;
  z-index: 10;
  transition: background-color 0.2s;
}

.resizer:not(.resizerRight) {
  right: -2px;
}

.resizer.resizerRight {
  left: -2px;
}

.resizer:hover {
  background-color: var(--primary);
  opacity: 0.5;
}

.floatingRoot {
  position: absolute;
  bottom: 2rem;
  left: 0;
  width: 100%;
  pointer-events: none;
  display: flex;
  justify-content: center;
  z-index: 1000;
}